<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.order.mapper.OrderChangeRecordMapper">

    <resultMap id="BaseResultMap" type="org.example.order.domain.OrderChangeRecordDO">
            <id property="id" column="id" />
            <result property="orderId" column="order_id" />
            <result property="businessId" column="business_id" />
            <result property="srcStatus" column="src_status" />
            <result property="targetStatus" column="target_status" />
            <result property="seataType" column="seata_type" />
            <result property="seataStatus" column="seata_status" />
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,business_id,src_status,target_status,seata_type,
        seata_status
    </sql>
</mapper>
